<h1>Step 1</h1>

<form class="" action="/apply/step1" method="post">
    <div class="">
        <input type="radio" name="got_experience" value="Yes">Yes
        <input type="radio" name="got_experience" value="No"> No
    </div>
    <div class="">
        <input type="text" name="experience" value="" placeholder="describe experience">
    </div>
    <div class="">
        <input type="submit" name="name" value="Apply">
    </div>
</form>
